<div class="login-container h-full">
    <form [formGroup]="loginForm">
        <p-card header="Login SGU" [style]="{width: '360px'}">
            <div class="field">
                <label for="email">Email</label>
                <input type="text" pInputText formControlName="email" class="w-full"  name="email" placeholder="exemplo@email.com"/>
                <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                    <div *ngIf="email.errors?.['required']">Email Obrigatorio</div>
                    <div *ngIf="email.errors?.['email']">Informe um email valido</div>
                </small>
            </div>
            <div class="field">
                <label for="password">Senha</label>
                <input type="password" pInputText formControlName="password" class="w-full"  name="password"/>
                <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
                    <div *ngIf="password.errors?.['required']">Informe uma senha</div>
                </small>
            </div>
            <p-button label="Entrar" styleClass="w-full" />
        </p-card>
    </form>
</div>

