
<p-dialog 
        header="{{selectedUser ? 'Editar Usuário' : 'Cadastrar Usuário'}}" 
        [(visible)]="displayAddEditModal" 
        [modal]="true" 
        [style]="{ width: '50vw', height: '75vw' }"
        [draggable]="false"
        [resizable]="false"
        (onHide)="onCloseModal()"
>
    <form [formGroup]="userForm">
        <div class="field">
            <label for="email">Email</label>
            <input type="text" pInputText formControlName="email" class="w-full"  name="email" placeholder="exemplo@email.com"/>
            <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
                <div *ngIf="email.errors?.['required']">Email Obrigatorio</div>
                <div *ngIf="email.errors?.['email']">Informe um email valido</div>
            </small>
        </div>
        <div class="field">
            <label for="name">Nome</label>
            <input type="text" pInputText formControlName="name" class="w-full"  name="name"/>
            <small *ngIf="name.invalid  && (name.dirty || name.touched)" class="block p-error">
                <div *ngIf="name.errors?.['required']">Informe o nome</div>
                  
            </small>
        </div>
        <div class="field">
            <label for="telefone">Telefone</label>
            <input type="text" pInputText formControlName="telefone" class="w-full"  name="telefone"/>
            <small *ngIf="telefone.invalid  && (telefone.dirty || telefone.touched)" class="block p-error">
                <div *ngIf="telefone.errors?.['required']">Informe o Telefone</div>
                  
            </small>
        </div>
        <div class="field">
            <label for="cpforcnpj">CPF ou CNPJ</label>
            <input type="text" pInputText formControlName="cpforcnpj" class="w-full"  name="cpforcnpj"/>
            <small *ngIf="cpforcnpj.invalid  && (cpforcnpj.dirty || cpforcnpj.touched)" class="block p-error">
                <div *ngIf="cpforcnpj.errors?.['required']">Informe o CPF ou CNPJ</div>
                  
            </small>
        </div>
        <div class="field">
            <label for="departamento">Departamento</label>
            <br>
            <p-dropdown [options]="departamentos" formControlName="department" placeholder="Selecione um departamento"/>
            <small *ngIf="department.invalid  && (department.dirty || department.touched)" class="block p-error">
            Departamento é obrigatório.
            </small>
        </div>
      </form>
      <ng-template pTemplate="footer">
                <p-button 
                    label="Cancel" 
                    severity="danger" 
                    (click)="onCloseModal()" />
                <p-button 
                    label="Salvar" 
                    severity="success"
                    [disabled]="userForm.invalid"
                    (click)="selectedUser ? onUpdateUser() : onSaveUserModal()" 
                  />
    </ng-template>
</p-dialog>
<p-toast />

