<p-table [value]="users" [lazy]="true" (onLazyLoad)="getAllUsers($event)" [paginator]="true" [rows]="pageSize" [totalRecords]="totalElements" [loading]="loading">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <p-button label="Cadastrar Usuário" (onClick)="showAddModal()" icon="pi pi-external-link"/>
            <p-button label="Sair" (onClick)="logout()" icon="pi pi-sign-out" severity="contrast"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>CPF</th>
        <th>Department</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.telefone }}</td>
        <td>{{ user.cpforcnpj }}</td>
        <td>{{ user.department.name }}</td>
        <td><p-button icon="pi pi-pencil" [rounded]="true" [text]="true" (click)="showEditModel(user)" /></td>
        <td><p-button icon="pi pi-times-circle" [rounded]="true" [text]="true" severity="danger" (click)="confirmDelete(user.id)"/></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3">No users found.</td>
      </tr>
    </ng-template>
  </p-table>
  <app-user-cadastro [selectedUser]="selectedUser" [displayAddEditModal]="displayAddEditModal" (clickClose)="hideAddModal($event)" (clickAdd)="saveUserToList($event)"></app-user-cadastro>
  <p-toast position="bottom-right" />
  <p-confirmDialog></p-confirmDialog>